# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MCTG.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
## Ignore files from the build process
*/bin
*/obj
# Ignore Rider/JetBrains settings
.idea/
*.sln.iml
# Ignore http file
*.http
